.counter-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  max-width: 300px;
}


.count-text {
  font-size: 3rem;
  margin: 20px 0;
}

.text-red {
  color: red;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}