
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
  font-weight: bold;
}


.primary { background-color: #007bff; }
.primary:hover { background-color: #0056b3; }

.danger { background-color: #dc3545; }
.danger:hover { background-color: #a71d2a; }

.success { background-color: #28a745; }
.success:hover { background-color: #1e7e34; }