body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
  overflow: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}